.card {
 width: 50%;
 margin: 10px auto ;
 border: 1px solid #eee;
 box-shadow: 0 2px 3px #ccc;
 text-align: center 
}

.placeholder-content {
  overflow: hidden;
  background: #000;
  position: relative;
  background: #f6f7f8;
  background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}